@import "src/utils/styles/common";

.adsModal {
	position: relative;
	min-height: 300px;
}

.root {
	padding: 16px;
}

.toolbar {
	margin-bottom: 16px;
}


// toolbar styles

.buttons {
	display: flex;
	align-items: center;

	& > :not(:first-child) {
		margin-left: 8px;
	}
}